<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cvut.fel.pda.stm_exs.app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".view.activity.MainActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.QuestionActivity_"
            android:label="@string/title_activity_question" >
        </activity>

        <activity
            android:name=".view.activity.SettingsActivity_"
            android:label="@string/title_activity_settings" >
        </activity>

        <activity
            android:name=".view.activity.TimeWindowsActivity_"
            android:label="@string/title_activity_settings_details" >
        </activity>

        <activity
                android:name=".view.activity.ProfileActivity_"
                android:label="@string/title_activity_profile"
                android:parentActivityName=".view.activity.MainActivity_">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="cz.cvut.fel.pda.stm_exs.app.view.activity.MainActivity_"/>
        </activity>

        <activity
                android:name=".view.activity.ThemesActivity_"
                android:label="@string/title_activity_themes"
                android:parentActivityName=".view.activity.MainActivity_">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="cz.cvut.fel.pda.stm_exs.app.view.activity.MainActivity_"/>
        </activity>

        <activity
                android:name=".view.activity.AnswersActivity_"
                android:label="@string/title_activity_answers"
                android:parentActivityName=".view.activity.MainActivity_">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="cz.cvut.fel.pda.stm_exs.app.view.activity.MainActivity_"/>
        </activity>

        <service android:name=".service.NewSamplingCheckService_"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
